html, body{
  min-height:100%;
}

body{
  		background-image: -webkit-linear-gradient(top, #edecec, #cecbc9);
		background-image: linear-gradient(top, #edecec, #cecbc9);
}

label{
font-family: 'proxima_nova_ltlight', sans-serif;
font-weight: normal;
font-size: 18px;
line-height: 46px;
color: #13BE6A;
text-shadow: 0 1px 5px rgba(0, 1, 0, 0.3);
	}

#createTeam {
	
font-family: 'proxima_nova_ltlight', sans-serif;
font-weight: normal;
font-size: 32px;
line-height: 46px;
color: #9D9DA3;
text-shadow: 0 1px 5px rgba(0, 1, 0, 0.3);
margin-left: 30%;
margin-top: 3%;

	}
	
#add_members{
font-family: 'proxima_nova_ltlight', sans-serif;
font-weight: normal;
font-size: 30px;
line-height: 46px;
color: #13BE6A;
text-shadow: 0 1px 5px rgba(0, 1, 0, 0.3);
display:none;
float: right;
margin-right: 10%;
margin-top: 3%;

}
#members_of_team{
	float:right;
	display:none;
	margin-right: 15%;
	margin-top: 3%;
	width: 15%;
	}
#result{
	float:left;
	width: 18%;
margin-left: 30%;
margin-top: 3%;
	}
#add_team
input[type="text"] {
width: 100%;
height: 35px;
positon: relative;
margin-top: 7px;
font-size: 14px;
color: #444;
outline: none;
border: 1px solid rgba(0, 0, 0, .49);
padding-left: 20px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
border-radius: 6px;
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
box-shadow: inset 0px 2px 0px #d9d9d9;
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
-o-transition: all .1s ease-in-out;
-ms-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
}

#teamleader{
width: 110%;
height: 40px;
positon: relative;
margin-top: 7px;
font-size: 14px;
color: #444;
outline: none;
border: 1px solid rgba(0, 0, 0, .49);
padding-left: 20px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
border-radius: 6px;
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
box-shadow: inset 0px 2px 0px #d9d9d9;
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
-o-transition: all .1s ease-in-out;
-ms-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
	}
.newDropdownMenu{
	width: 100%;
height: 35px;
positon: relative;
margin-top: 7px;
font-size: 14px;
color: #444;
outline: none;
border: 1px solid rgba(0, 0, 0, .49);
padding-left: 20px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
border-radius: 6px;
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
box-shadow: inset 0px 2px 0px #d9d9d9;
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
-o-transition: all .1s ease-in-out;
-ms-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
	}
#member_number{
	width: 100%;
height: 35px;
positon: relative;
margin-top: 7px;
font-size: 14px;
color: #444;
outline: none;
border: 1px solid rgba(0, 0, 0, .49);
padding-left: 20px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
border-radius: 6px;
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
box-shadow: inset 0px 2px 0px #d9d9d9;
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
-o-transition: all .1s ease-in-out;
-ms-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
	}

#add_team input[type="submit"] {
	width: 110%;
	height: 50px;
	margin-top: 7px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0px #5BDC7F;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-color: #5BDC7F;
	background-image: -webkit-linear-gradient(bottom, #5BDC7F 0%, #5BDC7F100%);
	background-image: -moz-linear-gradient(bottom, #5BDC7F 0%, #5BDC7F100%);
	background-image: -o-linear-gradient(bottom, #5BDC7F 0%, #5BDC7F100%);
	background-image: -ms-linear-gradient(bottom, #5BDC7F 0%, #5BDC7F100%);
	background-image: linear-gradient(bottom, #5BDC7F 0%, #5BDC7F100%);
	
	-webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
	box-shadow: inset 0px 1px 0px #9ab1ec;
	
	cursor: pointer;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#add_team input[type="submit"]:hover {
	background-color: #5BDC7F;
	background-image: -webkit-linear-gradient(bottom, #5BDC7F 0%, #white 100%);
	background-image: -moz-linear-gradient(bottom, #5BDC7F 0%, #white 100%);
	background-image: -o-linear-gradient(bottom, #5BDC7F 0%, #white 100%);
	background-image: -ms-linear-gradient(bottom, #5BDC7F 0%, #white 100%);
	background-image: linear-gradient(bottom, #5BDC7F 0%, #white 100%);

	-webkit-box-shadow: inset 0px 1px 0px #aab9f4;
	box-shadow: inset 0px 1px 0px #aab9f4;
	margin-top: 10px;
}

#add_team input[type="submit"]:active {
	background-color: #5BDC7F;
	background-image: -webkit-linear-gradient(bottom, #5BDC7F 0%, #5BDC7F 100%);
	background-image: -moz-linear-gradient(bottom, #5BDC7F 0%, #5BDC7F 100%);
	background-image: -o-linear-gradient(bottom, #5BDC7F 0%, #5BDC7F 100%);
	background-image: -ms-linear-gradient(bottom, #5BDC7F 0%, #5BDC7F 100%);
	background-image: linear-gradient(bottom, #5BDC7F 0%, #5BDC7F 100%);

	-webkit-box-shadow: inset 0px 1px 0px #93a9e9;
	box-shadow: inset 0px 1px 0px #93a9e9;
}

	.exit-btn-3 {

background-color: #F8F8F8;
background-image: url("http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/inside-logout-icon.png ");
background-size: 30px 30px;
background-repeat: no-repeat;
color: #585858;
border-radius: 7px;
box-shadow: 0 5px #9D9DA3;
padding: 5px 5px 10px 35px;
float: right;
margin-top: -12%;
margin-right: -28%;

}
	.exit-btn-34 {

background-color: #F8F8F8;
background-image: url("http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/inside-logout-icon.png ");
background-size: 30px 30px;
background-repeat: no-repeat;
color: #585858;
border-radius: 7px;
box-shadow: 0 5px #9D9DA3;
padding: 5px 5px 10px 35px;
float: right;

}

	.home-btn {

background-color: #F8F8F8;
background-image: url("http://cityoffederalway.com/images/pages/N609/GreenButton_ChasingArrows.jpg");
background-size: 30px 30px;
background-repeat: no-repeat;
color: #585858;
border-radius: 7px;
box-shadow: 0 5px #9D9DA3;
padding: 5px 5px 10px 35px;
float: right;
margin-top: -35%;
margin-right: 7%;
}